.back{
    background: url("/src/img/wall.jpg");
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content-job {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.boxes-job {
    padding-left: 70px;
}

.filters {
    display: flex;
    background-color: #2e1967;
    width: 400px;
    height: 240px;
    margin-right: 70px;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 14pt;
    padding: 10px;
    padding-top: 0;
    box-shadow: 0 0 10px #2e1967;
}

.link-vac {
    text-decoration: none;
}

.filter-spec {
    text-align: left;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    padding-top: 10px;
    line-height: 2;

}

.name-spec {
    text-align: center;
    margin-top: -10px;
    margin-bottom: -10px;

}

.test-box {
    text-align: center;
    display: flex;
    justify-content: start;
    background-color: #5f48b0;
    margin-top: 10px;
    margin-right: 30px;
    border-radius: 10px;
}
  
.custom-checkbox {    
    display: none;
}

.label-check {
    margin-top: 6px;
    padding-right: 2px;
    margin-right: 20px;
    margin-left: 20px;
}

.custom-checkbox + .label-check {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #ccc;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}

.custom-checkbox:checked + .label-check {
    background-color: #ff0000;
}




  


  


