
.search-container {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    border: 1px solid black;
    background-color: #261457;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 25px;
    margin-top: 80px;
    border: none;

}

.search-box {
    width: 918px;
    height: 42px;
    padding-left: 10px;
    border: 4px solid rgb(255, 20, 20);
    border-radius: 10px 0 0 10px;
    outline: none;
    background-color: #332263;
    color: #ffffff;
    font-size: 12pt;
}

.search-button {
    width: 75px;
    height: 40px;
    border: none;
    background-color: rgb(255, 20, 20);
    cursor: pointer;
    margin-right: 10px;
    color: #ffffff;
    padding-bottom: 0px;
}

.back-search {
    background-color: rgb(255, 20, 20);
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.city-search {
    width: 300px;
    height: 52px;
    border: 4px solid rgb(255, 20, 20);
    background-color: #332263;
    border-radius: 0px 10px 10px 0px;
    font-size: 12pt;
    cursor: pointer;
    padding-left: 10px;
    margin-left: -3px;
    color: #ffffff;
    appearance: none;
    outline: none;
}

.select-city {
    width: 300px;
    height: 50px;
}

.loop-search {
    width: 40px;
    padding-left: 5px;
}
.loop-search:hover {
    transform: scale(1.04);
}